  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
  
<%= stylesheet_link_tag 'devise.css', media: 'all'%>  

  
</head>

<body>
  <body class="align">

  <div class="grid">

    <div id="login">

      <h2><span class="fa fa-lock"></span>Sign Up</h2>

      <form action="#" method="POST">

		<fieldset>
		  <button class="social-facebook"><i class="fa fa-facebook"></i> Facebook</button>
		  <hr>
          <p><label for="email">E-mail address</label></p>
          <p><input type="email" id="email" placeholder="mail@address.com"></p>

          <p><label for="password">Password</label></p>
          <p><input type="password" id="password" placeholder="password"></p>
		  <p><label for="password">Password confirmation</label></p>
          <p><input type="password" id="password" placeholder="password"></p>

          <p><input type="submit" value="Sign Up"></p>
		  <hr>
		  <div>
			<a href="users/sign_up" style="float:right;">Sign In</a> 
		  </div>
        </fieldset>
		

      </form>

    </div> <!-- end login -->

  </div>

</body>
  
  
</body>
</html>
