	 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
        <%= stylesheet_link_tag 'welcome', media: 'all'%>
	<%= stylesheet_link_tag 'home', media: 'all'%>
    </head>
    <body>
	<div class="section">
	    <p>The letter haven't been matched yet</p>
 	    <p><i class="fa fa-file-text-o fa-5x"></i></p>
        </div>
