
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    <%= favicon_link_tag 'favicon/favicon-16x16.png' %>
<%= stylesheet_link_tag 'welcome', media: 'all'%>
  </head>
  <body id="page-top">
    <!-- Navigation -->

<div class="navbar navbar-fixed-top">
    <div class="container">
    	<div class="navbar-header pull-left">
      		<a class="navbar-brand js-scroll-trigger" href="javascript:void(0)"><i class="fa fa-hashtag"></i> secret santa</a>
    	</div>
    	<div class="navbar-header pull-right">
      	<button type="button" class="btn btn-link navbar-btn"><a href="https://www.facebook.com/includebraga/"><i class="fa fa-facebook fa-lg"></a></i></button>
      	<button type="button" class="btn btn-link navbar-btn"><a href="https://www.instagram.com/includebraga/"><i class="fa fa-instagram fa-lg"></i></a></button>
    </div>
    </div>
</div>




    <header class="masthead">
	<canvas id="bubble"></canvas>
	<div style="position:absolute;left:10%;top:40%;width:50%;">
    <h1 class="mb-5">Queres proporcionar um Natal mais feliz a crianças carenciadas de Braga? Inscreve-te para seres um Secret Santa.</h1>
              <a href="users/sign_up" class="btn btn-outline btn-xl js-scroll-trigger">Registar</a>
            <div class="device-container">
<%= image_tag("chimney.png", :alt => "chimney") %>
          </div>
        </div>
      </div>
    </header>
	
    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Como funciona?</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-note text-primary"></i>
                    <h3>Regista-te</h3>
                    <p class="text-muted">Faz o registo para poderes vir a ser um Pai Natal Secreto.</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-envelope text-primary"></i>
                    <h3>Recebe a carta</h3>
                    <p class="text-muted">Nós iremos atribuir te a carta de uma criança.</p>
                  </div>
                </div>
              
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-present text-primary"></i>
                    <h3>Entrega a prenda</h3>
                    <p class="text-muted">Encontra-nos dia x de Dezembro no y.</p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Change </br>by giving.</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Quero ser um Pai Natal Secreto!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>
    <footer>
      <div class="container">
        <p>&copy; 2017 #include &lt;braga&gt</p>
       
      </div>
    </footer>
  </body> 
</html>
